<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Jackson&apos;s Bay</string>
		<key>x_coordinate</key>
		<integer>0</integer>
		<key>y_coordinate</key>
		<integer>0</integer>
		<key>image1Name</key>
		<string>Marco Cafe</string>
		<key>image2Name</key>
		<string>Beach</string>
		<key>image3Name</key>
		<string>Promenade</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nell&apos;s Point</string>
		<key>x_coordinate</key>
		<integer>0</integer>
		<key>y_coordinate</key>
		<integer>0</integer>
		<key>image1Name</key>
		<string>Marco Cafe</string>
		<key>image2Name</key>
		<string>Beach</string>
		<key>image3Name</key>
		<string>Promenade</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lighthouse</string>
		<key>x_coordinate</key>
		<integer>0</integer>
		<key>y_coordinate</key>
		<integer>0</integer>
		<key>image1Name</key>
		<string>Marco Cafe</string>
		<key>image2Name</key>
		<string>Beach</string>
		<key>image3Name</key>
		<string>Promenade</string>
	</dict>
</array>
</plist>
